label {
    font-family: 'Roboto Condensed', sans-serif;  
}

.is-required {
    label::after {
        font-weight: 800;
        content: " * ";
        color: green;
        position: absolute;
        left: 7px;
        overflow: visible;
    }
}

.has-danger {

    .invalid-feedback {
        visibility: visible;
    }

    input,
    select {
        background-color: #faefef;
        border-color: red;
    }
}

.invalid-feedback {
    visibility: hidden;
    font-size: 1.125rem;
    margin: 5px 14px;
    font-style: italic;
    display: inline-block;
}

.is-invalid + .invalid-feedback {
    visibility: visible;
}

.content-label-large {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}