<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">

      <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>

      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>

      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>

      <a class="nav-item nav-link" id="tab1" data-toggle="tab" href="#nav-contact1" role="tab" aria-controls="nav-contact" aria-selected="false">tab1</a>

      <a class="nav-item nav-link" id="tab2" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact" aria-selected="false">tab2</a>

      <a class="nav-item nav-link" id="tab3" data-toggle="tab" href="#nav-contact3" role="tab" aria-controls="nav-contact" aria-selected="false">tab3</a>

      <a class="nav-item nav-link" id="tab4" data-toggle="tab" href="#nav-contact4" role="tab" aria-controls="nav-contact" aria-selected="false">tab4</a>

      <a class="nav-item nav-link" id="tab5" data-toggle="tab" href="#nav-contact5" role="tab" aria-controls="nav-contact" aria-selected="false">tab5</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">1</div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">2</div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">3</div>

    <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="tab1">4</div>

    <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="tab2">5</div>

    <div class="tab-pane fade" id="nav-contact3" role="tabpanel" aria-labelledby="tab3">6</div>

    <div class="tab-pane fade" id="nav-contact4" role="tabpanel" aria-labelledby="tab4">7</div>

    <div class="tab-pane fade" id="nav-contact5" role="tabpanel" aria-labelledby="tab5">8</div>
  </div>
</div>
