h2 {
    color: #33221F;
}

.checkboxs-persons {
    background-color: #FD9D39;
    height: 30em;
    padding-top: 2em;

    .custom-control-label {
        font-size: 1.5em;
        color: #C33149;
        margin-bottom: 0;
    
        &::before {
            border-radius: .25rem;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 19rem;
            margin-top: 0.4rem;
        }
    
        &::after {
            padding-top: 2.2rem;
            margin-left: 19.3rem;
            background-size: 1rem;  
        }
    }
    
    .custom-control-input {
        &:focus ~ .custom-control-label::before {
            box-shadow: none;
        }
    }
    
    .custom-checkbox {
        .custom-control-input:checked ~ .custom-control-label {
          &::before {
            background-color: #6D0545;
          }
        }
    }
}

