.pre-header {
    background: #084C61;
    color: #E3B505;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

    & > div .icon-headphones {
        font-size: 1.3rem;
    }

    & > div .title {
        font-size: 1.3rem;
    }

    & > div .languaje {
        font-size: 1.3rem;
    }
}