<fieldset class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="form-group is-required">
        <label for="exampleInputEmail1">is-required</label>
        <input type="email" class="form-control" placeholder="Enter email">
        <span class="invalid-feedback mb-2">err</span>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="form-group has-danger">
        <label for="exampleInputEmail1">has-danger</label>
        <input type="email" class="form-control" placeholder="Enter email">
        <span class="invalid-feedback mb-2">err</span>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="form-group has-info">
        <label for="exampleInputEmail1">has-info</label>
        <input type="email" class="form-control" placeholder="Enter email">
        <span class="invalid-feedback mb-2">err</span>
        <span class="icon-wrapper"></span>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="form-group">
        <label for="exampleInputEmail1">lio</label>
        <input type="email" class="form-control" placeholder="Enter email">
        <span class="invalid-feedback mb-2">err</span>
      </div>
    </div>
  </div>
</fieldset>