<div class="container">
 
       
            <!-- <app-pre-header></app-pre-header> -->

            <!-- <app-header></app-header> -->

            <!-- <app-content></app-content> -->

            <!-- <app-tabs-responsive></app-tabs-responsive> -->

            <!-- <app-search></app-search> -->

            <!-- <app-joke></app-joke> -->

            <!-- <app-joke-form></app-joke-form>

            <app-joke-list></app-joke-list> -->

            <!-- <app-slider></app-slider> -->

            <!-- <app-checkbox></app-checkbox> -->

            <!-- <app-ngbootstrap></app-ngbootstrap> -->

            <app-checkboxs-personalizados></app-checkboxs-personalizados>

</div>
