<fieldset class="container">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group is-required">
                <label class="label-1">
                    Indicador
                </label>
                <select class="form-control">
                    <option value="male">1</option>
                    <option value="female">2</option>
                </select>
                <span class="invalid-feedback">Aquest camp és requerit</span>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
                <label class="label-1">UAG activacio</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">

            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>

        </div>
    </div>
</fieldset>



<div class="row align-items-center">
    <div class="col-auto">
        <label class="label-1">UAG activacio</label>
        <input type="text" class="form-control mb-2">
    </div>


    <div class="col">
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label" for="autoSizingCheck">
                Remember me
            </label>
        </div>
    </div>
</div>



<div class="row align-items-center">
    <div class="col">
        <label class="label-1">UAG activacio</label>
        <input type="text" class="form-control mb-2">
    </div>
    <div class="col">
        <label class="label-1">UAG activacio</label>
        <input type="text" class="form-control mb-2">
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label" for="autoSizingCheck">
                Remember me
            </label>
        </div>
    </div>
</div>




<div class="col col-12 col-sm-6 col-lg-4">
    <div class="form-group">
    <div class="form-check my-1 pl-0">
        <div class="custom-control custom-checkbox pl-0" title="{{ 'physical-person.modification.personal-data.group-identifier-input' | translate }}">
            <input type="checkbox" class="custom-control-input" id="groupIdentifier" value="option1" formControlName="groupIdentifier">
            <label class="custom-control-label label-1" for="groupIdentifier">{{ "physical-person.modification.personal-data.group-identifier-input" | translate }}
            </label>
            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
        </div>
    </div>






    <div [formGroup]="attachedFormGroup">
            <fieldset class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('claimantNif')}">
                            <label class="label-1" for="claimantNif" title="{{ 'physical-person.modification.personal-data.claimant-nif-input' | translate }}">
                                {{ "physical-person.modification.personal-data.claimant-nif-input" | translate }}
                            </label>
                            <div class="">
                                <sic-dynamic-input [sizes]="[1,8,1]" [isDisabled]="true" [inputValue]="claimantNifValues" (onChangeValue)="dynamicInputValues($event, 'claimantNif')">
                                </sic-dynamic-input>
                                <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('lastModification')}">
                            <label class="label-1" for="lastModification" title="{{ 'physical-person.modification.personal-data.last-modification-input' | translate }}">
                                {{ "physical-person.modification.personal-data.last-modification-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="lastModification" formControlName="lastModification">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <!-- <div class="form-check my-1 pl-0">
                            <input class="form-check-input" 
                                    type="checkbox" 
                                    id="groupIdentifier" 
                                    value="option1" 
                                    formControlName="groupIdentifier">
                            <label class="form-check-label  label-1" for="groupIdentifier"
                                    title="{{ 'physical-person.modification.personal-data.group-identifier-input' | translate }}">
                                    {{ "physical-person.modification.personal-data.group-identifier-input" | translate }}
                            </label>
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div> -->
                        <div class="form-group">
                            <div class="form-check my-1 pl-0">
                                <div class="custom-control custom-checkbox pl-0">
                                    <input type="checkbox" class="custom-control-input" id="groupIdentifier" value="option1" formControlName="groupIdentifier">
                                    <label class="custom-control-label label-1" for="groupIdentifier">{{ "physical-person.modification.personal-data.group-identifier-input" | translate }}
                                        </label>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('name')}">
                            <label class="label-1" for="nameInput" title="{{ 'physical-person.modification.personal-data.name-input' | translate }}">
                                {{ "physical-person.modification.personal-data.name-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="nameInput" formControlName="name">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('firstSurname')}">
                            <label class="label-1" for="firstSurname" title="{{ 'physical-person.modification.personal-data.first-surname-input' | translate }}">
                                {{ "physical-person.modification.personal-data.first-surname-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="firstSurname" formControlName="firstSurname">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('secondSurname')}">
                            <label class="label-1" for="secondSurname" title="{{ 'physical-person.modification.personal-data.second-surname-input' | translate }}">
                                {{ "physical-person.modification.personal-data.second-surname-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="secondSurname" formControlName="secondSurname">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('socialSecurityNumber')}">
                            <label class="label-1" for="socialSecurityNumber" title="{{ 'physical-person.modification.personal-data.social-security-number-input' | translate }}">
                                {{ "physical-person.modification.personal-data.social-security-number-input" | translate }}
                            </label>
                            <div class="">
                                <sic-dynamic-input [sizes]="[1,8,1]" [isDisabled]="false" (onChangeValue)="dynamicInputValues($event,'socialSecurityNumber')">
                                </sic-dynamic-input>
                                <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('others')}">
                            <label class="label-1" for="others" title="{{ 'physical-person.modification.personal-data.others-input' | translate }}">
                                {{ "physical-person.modification.personal-data.others-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="others" formControlName="others">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('birthDate')}">
                            <label class="label-1" for="birthDate" title="{{ 'physical-person.modification.birth-date-input' | translate }}">
                                {{ "physical-person.modification.birth-date-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="birthDate" formControlName="birthDate">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('gender')}">
                            <label class="label-1" for="gender" title="{{ 'physical-person.modification.gender-select' | translate }}">
                                {{ "physical-person.modification.gender-select" | translate }}
                            </label>
                            <select class="form-control" id="gender" formControlName="gender">
                                <option value="male">Hombre</option>
                                <option value="female">Mujer</option>
                            </select>
                            <span class="invalid-feedback">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('civilStatus')}">
                            <label class="label-1" for="civilStatus" title="{{ 'physical-person.modification.civil-status-select' | translate }}">
                                {{ "physical-person.modification.civil-status-select" | translate }}
                            </label>
                            <select class="form-control" id="civilStatus" formControlName="civilStatus">
                                <option value="married">Casado/a</option>
                                <option value="single">Soltero/a</option>
                            </select>
                            <span class="invalid-feedback">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('nationality')}">
                            <label class="label-1" for="nationality" title="{{ 'physical-person.modification.nationality-input' | translate }}">
                                {{ "physical-person.modification.nationality-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="nationality" formControlName="nationality">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('formativeLevel')}">
                            <label class="label-1" for="formativeLevel" title="{{ 'physical-person.modification.formative-level' | translate }}">
                                {{ "physical-person.modification.formative-level" | translate }}
                            </label>
                            <input type="text" class="form-control" id="nationality" formControlName="formativeLevel">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    DISCAPACITAT
                </legend>
                <div class="row m-0">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group">
                            <div class="form-check my-1 pl-0">
                                <div class="custom-control custom-checkbox pl-0" title="{{ 'physical-person.modification.disability-indicator' | translate }}">
                                    <input type="checkbox" class="custom-control-input" id="disabilityIndicator" value="option1" formControlName="disabilityIndicator">
                                    <label class="custom-control-label label-1 mt-2" for="disabilityIndicator">{{ "physical-person.modification.disability-indicator" | translate }}
                                    </label>
                                    <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('disabilityGrade')}">
                            <label class="label-1" for="disabilityGrade" title="{{ 'physical-person.modification.disability-grade-input' | translate }}">
                                {{ "physical-person.modification.disability-grade-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="disabilityGrade" formControlName="disabilityGrade">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="form-group is-required" [ngClass]="{'has-danger': showErrorMsg('disabilityEnd')}">
                            <label class="label-1" for="disabilityEnd" title="{{ 'physical-person.modification.disability-end-input' | translate }}">
                                {{ "physical-person.modification.disability-end-input" | translate }}
                            </label>
                            <input type="text" class="form-control" id="disabilityEnd" formControlName="disabilityEnd">
                            <span class="invalid-feedback mb-2">{{"global.input.error.message.required" | translate}}</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

