<form class="container">
    <div class="form-group">
        <label for="exampleFormControlInput1">size-1</label>
        <input type="email" class="form-control size-1" id="exampleFormControlInput1" placeholder="size-1" maxlength="1">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-2</label>
        <input type="email" class="form-control size-2" id="exampleFormControlInput1" placeholder="size-2" maxlength="2">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-3</label>
        <input type="email" class="form-control size-3" id="exampleFormControlInput1" placeholder="size-3" maxlength="3">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-4</label>
        <input type="email" class="form-control size-4" id="exampleFormControlInput1" placeholder="size-4" maxlength="4">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-5</label>
        <input type="email" class="form-control size-5" id="exampleFormControlInput1" placeholder="size-5" maxlength="5">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-6</label>
        <input type="email" class="form-control size-6" id="exampleFormControlInput1" placeholder="size-6" maxlength="6">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-7</label>
        <input type="email" class="form-control size-7" id="exampleFormControlInput1" placeholder="size-7">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-8</label>
        <input type="email" class="form-control size-8" id="exampleFormControlInput1" placeholder="size-8">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-9</label>
        <input type="email" class="form-control size-9" id="exampleFormControlInput1" placeholder="size-9">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">size-10</label>
        <input type="email" class="form-control size-10" id="exampleFormControlInput1" placeholder="size-10">
    </div>


</form>